<!DOCTYPE html>
<html>

<head>
    <title>{{ title }} {{ status }}</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
</head>

<body>
    <div class="error_title">
        <div>{{ title }} {{ status }}</div>
    </div>
    <div class="error_holder">
        <div class="error_content">
            <pre>{{ error }}</pre>
        </div>
    </div>
    <script src="/js/reload.js"></script>
</body>

</html>